.button.option {
  background-image: var(--app-color);
  color: white;
  border: none;
  padding: 9px 15px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  font-size: 50px;
}

.button:focus {
  outline: none;
}

.button.option:hover:enabled {
  background-image: var(--icon-hover);
}

.button.option:disabled {
  opacity: 50%;
  outline: none;
}

.button.next {
  background-image: var(--app-color);
  font-size: 16px;
  padding: 9px 15px;
  color: white;
  border: none;
  border-radius: 5px;
  outline: none;
}

.button.next:disabled {
  opacity: 50%;
}

.button.next:hover:enabled {
  background-image: var(--icon-hover)
}

.button.reset {
  background-color: transparent;
  border: none;
  color: gray;
}

.button.reset:hover {
  color: #333333;
}

.button.modal {
  background-color: "blue";
  color: white;
}